<div class="row">
	<div class="col-sm-3">
		<p>Here's all the stuff you can eat frugal eater!</p>
		<%= @menuitems %> 
	</div>	
</div>

                
               

<!-- @menuitems[:objects][0][price] -->