<div class="row">
	<div class="col-sm-3">
		<p><% @menuitem.restaurant %></p>
		<p><% @menuitem.name %></p>
		<p><% @menuitem.price %></p>
		<p><% @menuitem.address %></p>
		<p><% @menuitem.phone_number %></p>
	</div>
</div>