<div class="row">
	<div class="col-xs-9 col-xs-offset-1">
		<%= form_tag("/menuitems", method: "get") do %>
  			<%= label_tag(:name, "What food item are you craving today?") %>
  			<%= text_field_tag(:name) %>
  			<%= submit_tag("Search") %>
		<% end %>
	</div>
</div>



