<div class="row">
	<div class="col-sm-3">
		<p>Here's all the stuff you can eat frugal eater!
		<p><% @menuitem.restaurant %></p>
		<p><% @menuitem.name %></p>
		<p><% @menuitem.price %></p>
	</div>
</div>