
<div class="row">
	<div class="col-sm-3">
		<p><%= @restaurant %></p>
		<p><%= @price %></p>
		<p><%= @address %></p>
	</div>
</div>

<!--[:objects(0)[:price][:venue[:name]]]-->

<!--{
    "meta": {
        "cache-expiry": 3600,
        "limit": 100
    },
    "objects": [
        {
            "description": "Pinto beans, mexican brown rice, guacamole, sour cream, jalapenos, and tomato chipotle salsa wrapped in a whole wheat tortilla",
            "id": "3a48ea817c9dff2fb6ae8f8cbf4a5ad01276593c1d23020b0a07092d2ed661c8",
            "name": "Burrito",
            "price": 7.75,
            "resource_uri": "/v1_0/menu_item/3a48ea817c9dff2fb6ae8f8cbf4a5ad01276593c1d23020b0a07092d2ed661c8/",
            "venue": {
                "categories": [
                    "restaurant"
                ],
                "country": "United States",
                "id": "e72ce5479f1816cee412",
                "lat": 37.774562,
                "locality": "San Francisco",
                "long": -122.437862,
                "name": "Herbivore",
                "postal_code": "94117",
                "region": "CA",
                "street_address": "531 Divisadero St."
            }
        }, -->