/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

.logo {
  padding: 1px;
  text-align: left;
  background-attachment: static;
  vertical-align: text-bottom;
  position: static;
 }

 #powered_by_locu {
  margin-top: -49px;
  margin-left: 104px;
  position: static;
 }

h1 {
  text-align: center;
  margin-top: 116px;
  position:relative;
  font-family: 'Anton', sans-serif;
  color: black;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

h4{
  text-align: left;
}

p {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-weight:bold;
  font-size: 17px;
}

li {
  font-family:'Dosis', sans-serif;
  font-size: 18px;
  color:orange;
}

.header{
  margin-top: 100px;
  margin-bottom:-10px;
  font-size: 28px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;
}

.flash{
  text-align: center;
}

.col-sm-3{
  background: url("http://i.imgur.com/yhH4YuK.png");
  background-repeat:no-repeat;
  height:470px;
  width:350px;
  padding: 25px;
  margin-top:89px;
  margin-bottom: -14px;
  margin-left:133px;
  font-family:'Dosis', sans-serif;
  font-size:17px;
  border-radius: 10px;
  position:relative;
  text-align:left;
}

.btn.btn-default {
  background:yellow;
  font-size: 13px;
}

.btn.btn-default.btn-md{
  margin-bottom:20%px;
  position:relative;
}

.style_img {
  margin-top: 90px;
  margin-left: 70px;
  border-radius: 10px;
  position: absolute;
  border:10px solid white;
  height:90%;
}

.col-sm-9 {
  margin-top: 90px;
  margin-left: 70px;
  border-radius: 10px;
  position: absolute;
  border:10px solid white;
}

#directions{
  padding: 2px 2px 2px 2px;
  margin-left: 83px;
  margin-top: 1em;
  background-color: white;
  position:relative;
}

.get-direct {
  margin-left: 0px;
  margin-top: 30em;
  margin-bottom: 0px;
  opacity: 0.95;
  color: red;
}

.border-form-div-1 {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div-1 .form-signin-heading,
.border-form-div-1 .checkbox {
  margin-bottom: 10px;
}
.border-form-div-1 input[type="text"],
.border-form-div-1 input[type="email"],
.border-form-div-1 input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.border-form-div {
  max-width: 450px;
  height: 209px;
  padding: 19px 29px 29px;
  margin-top: 42px;
  margin-bottom: 15px;
  margin-left:100px;
  margin-right: -120px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  margin-top: 10px;
}

.panel-heading {
  text-align: center;
  font-size: 28px;
  margin-top: 0px;
  font-family: 'Anton', sans-serif;

}

.panel.panel-default{
  margin-top: 89px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
  border:5px solid black;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

body {
  /*margin-top: 20px;*/
  background: url("http://i.imgur.com/RQcbp1U.jpg?3");
  position: static;
  /*background-repeat:no-repeat;*/
  width:1300px;
  margin-right:0px;
}

#slideshow {
  padding:0px;
  margin-top: 40px;
  margin-left: 50px; 
  margin-bottom: 15px; 
  width: 700px;
  height:459px;
  border: 4px solid white;
  border-radius: 15px;
  position: relative;
}

.row {
  position: relative;
}

.wrapper {
  width:1300px;
  position: relative;
}

.row1 {
  position: relative;
}

img {
  margin-right: 700px;
}


/*@media (min-width:768px) { 

  .navbar.navbar-inverse{
    background: black;
  }

  .navbar > .container {
      text-align: center;
  }
  .navbar-header {
      float: left;
      display: inline-block;
      vertical-align: bottom;
  }
  .navbar-brand {
      float: none;
      display: inline-block;
  }
  .navbar .navbar-nav {
      float: none;
      display: inline-block;
      clear: none;
  }
  .navbar .navbar-nav > li {
      float: none;
      display: inline-block;
  }

  .active > li {
    font-family:'Dosis', sans-serif;
    background: black;
  }

  .navbar .navbar-nav > li li {
      text-align: left;

  }
  .collapse.navbar-collapse#centerednav {
      float: none;
      display: inline-block!important;
      width: auto;
      clear: none;
  }*/

  form#new_favorite.new_favorite {
    margin-top:20px;
   } 
  }

  .col-md-3 {
  background: url("http://i.imgur.com/yhH4YuK.png");
  background-repeat:repeat;
  height:90%;
  width:350px;
  padding: 25px;
  margin-top:89px;
  margin-bottom: -14px;
  margin-left:133px;
  font-family:'Dosis', sans-serif;
  font-size:17px;
  border-radius: 10px;
  position:relative;
  text-align:left;
}

.col-md-9 {
  width: 65%;
  height: 488px;
  margin-top: -515px;
  margin-left: 430px;
  position: relative;
}

.col-md-4 {
  background: url("http://i.imgur.com/yhH4YuK.png");
  background-repeat:default;
  min-height: 480px;
  min-width: 370px;
  padding: 25px;
  margin-top:10%;
  margin-bottom: -14px;
  margin-left:-70px;
  font-family:'Dosis', sans-serif;
  font-size:17px;
  border-radius: 10px;
  position:relative;
  text-align:left;
}

.col-md-8 {
  min-width: 400px;
  min-height: 533px;
  margin-top: -55.5%;
  margin-left: 250px;
  position: relative;
}