/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */

h1 {
	text-align: center;
  margin-top: 90px;
  font-family: 'Anton', sans-serif;
  color: black;
}

h3 {
	font-size: 20px;
	text-align: center;
  margin-top: 20px;
}

h4{
	text-align: left;
}

p {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  font-weight:bold;
}

.header{
  margin-top: 120px;
  font-size: 28px;
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: black;
}



.flash{
  text-align: center;
}

.col-sm-3{
  margin:30px;
  background: url("http://i.imgur.com/yhH4YuK.png");
  background-repeat:repeat;
  height: 500px;
  padding:  25px;
  margin-top: 90px;
  margin-left: 133px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.btn.btn-default {
  background:yellow;
  font-size: 15px;
}

.map {
  margin-top: -451px;
  border-radius: 10px;
}


iframe {
  margin-left: 370px;
  /*margin-top: -333px;*/
  width:800px;
  height: 500px;
  border:10px solid white;
  border-radius: 10px;
}

.border-form-div-1 {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div-1 .form-signin-heading,
.border-form-div-1 .checkbox {
  margin-bottom: 10px;
}
.border-form-div-1 input[type="text"],
.border-form-div-1 input[type="email"],
.border-form-div-1 input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.border-form-div {
  max-width: 450px;
  height: 209px;
  padding: 19px 29px 29px;
  margin-top:40px;
  margin-left:100px;
  margin-right: -120px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  margin-top: 10px;
}

.panel-heading {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
  padding: 20px;
}

.panel.panel-default{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  padding-top: 20px;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

body {
  margin-top: 20px;
  background: url("http://i.imgur.com/RQcbp1U.jpg");
}

#slideshow {
  padding:0px;
  margin-top: 20px;
  margin-left: 140px; 
  margin-bottom: 15px; 
  width: 770px;
  height:459px;
  border: 4px solid white;
  border-radius: 15px;
}

.row2{
  margin-top: 20px;
}

img {
  margin-right: 700px;
}


@media (min-width:768px) { 

  .navbar.navbar-inverse{
    background: black;
  }

  .navbar > .container {
      text-align: center;
  }
  .navbar-header {
      float: none;
      display: inline-block;
  }
  .navbar-brand {
      float: none;
      display: inline-block;
  }
  .navbar .navbar-nav {
      float: none;
      display: inline-block;
      clear: none;
  }
  .navbar .navbar-nav > li {
      float: none;
      display: inline-block;
  }

  .active {
    background: black;
  }
  .navbar .navbar-nav > li li {
      text-align: left;

  }
  .collapse.navbar-collapse#centerednav {
      float: none;
      display: inline-block!important;
      width: auto;
      clear: none;
  }
}

.details{
  padding: 10px;
  margin-left:30px;
  background: white;
  margin-top: 70px;
  margin-bottom: 10px;
}


/*.table.table-bordered{
  margin-left: 20px;
  margin-right: 20px;
  padding:20px;
  margin-top: 70px;
}*/




